In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [3]:
titanic = pd.read_csv('train.csv')

In [5]:
titanic = titanic.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'] , axis = 'columns')

In [9]:
titanic

     Survived  Pclass     Sex   Age     Fare
0           0       3    male  22.0   7.2500
1           1       1  female  38.0  71.2833
2           1       3  female  26.0   7.9250
3           1       1  female  35.0  53.1000
4           0       3    male  35.0   8.0500
..        ...     ...     ...   ...      ...
886         0       2    male  27.0  13.0000
887         1       1  female  19.0  30.0000
888         0       3  female   NaN  23.4500
889         1       1    male  26.0  30.0000
890         0       3    male  32.0   7.7500

[891 rows x 5 columns]

In [10]:
input = titanic.drop('Survived' , axis = 'columns')
output = titanic['Survived']

In [11]:
input

     Pclass     Sex   Age     Fare
0         3    male  22.0   7.2500
1         1  female  38.0  71.2833
2         3  female  26.0   7.9250
3         1  female  35.0  53.1000
4         3    male  35.0   8.0500
..      ...     ...   ...      ...
886       2    male  27.0  13.0000
887       1  female  19.0  30.0000
888       3  female   NaN  23.4500
889       1    male  26.0  30.0000
890       3    male  32.0   7.7500

[891 rows x 4 columns]

In [12]:
output

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [14]:
label = LabelEncoder()

In [15]:
label.fit(titanic['Sex'])

LabelEncoder()

In [16]:
label.transform(input['Sex'])

array([1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1])

In [17]:
input['Sex'] = label.transform(input['Sex'])

In [18]:
input

     Pclass  Sex   Age     Fare
0         3    1  22.0   7.2500
1         1    0  38.0  71.2833
2         3    0  26.0   7.9250
3         1    0  35.0  53.1000
4         3    1  35.0   8.0500
..      ...  ...   ...      ...
886       2    1  27.0  13.0000
887       1    0  19.0  30.0000
888       3    0   NaN  23.4500
889       1    1  26.0  30.0000
890       3    1  32.0   7.7500

[891 rows x 4 columns]

In [19]:
output

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [21]:
input.columns[input.isna().any()]

Index(['Age'], dtype='object')

In [30]:
input

     Pclass  Sex   Age     Fare
0         3    1  22.0   7.2500
1         1    0  38.0  71.2833
2         3    0  26.0   7.9250
3         1    0  35.0  53.1000
4         3    1  35.0   8.0500
..      ...  ...   ...      ...
886       2    1  27.0  13.0000
887       1    0  19.0  30.0000
888       3    0   NaN  23.4500
889       1    1  26.0  30.0000
890       3    1  32.0   7.7500

[891 rows x 4 columns]

In [32]:
input.fillna(input['Age'].mean())

     Pclass  Sex        Age     Fare
0         3    1  22.000000   7.2500
1         1    0  38.000000  71.2833
2         3    0  26.000000   7.9250
3         1    0  35.000000  53.1000
4         3    1  35.000000   8.0500
..      ...  ...        ...      ...
886       2    1  27.000000  13.0000
887       1    0  19.000000  30.0000
888       3    0  29.699118  23.4500
889       1    1  26.000000  30.0000
890       3    1  32.000000   7.7500

[891 rows x 4 columns]

In [59]:
x_train , x_test , y_train , y_test = train_test_split(input ,output , train_size  =0.8)

In [37]:
len(x_train)

712

In [38]:
len(x_test)

179

In [39]:
from sklearn.naive_bayes import GaussianNB

In [58]:
input = input.fillna(input['Age'].mean())

In [80]:
x_train , x_test , y_train , y_test = train_test_split(input ,output , train_size  =0.8)

In [81]:
model = GaussianNB()
model.fit(x_train,y_train)
model.predict(x_test)

model.score(x_test,y_test)

0.770949720670391

In [52]:
input.isna().value_counts()

Pclass  Sex    Age    Fare
False   False  False  False    891
dtype: int64

In [61]:
input

     Pclass  Sex        Age     Fare
0         3    1  22.000000   7.2500
1         1    0  38.000000  71.2833
2         3    0  26.000000   7.9250
3         1    0  35.000000  53.1000
4         3    1  35.000000   8.0500
..      ...  ...        ...      ...
886       2    1  27.000000  13.0000
887       1    0  19.000000  30.0000
888       3    0  29.699118  23.4500
889       1    1  26.000000  30.0000
890       3    1  32.000000   7.7500

[891 rows x 4 columns]

In [57]:
input.Age.isna()

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Age, Length: 891, dtype: bool

In [62]:
model.predict(x_test)

array([0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 1], dtype=int64)

In [67]:
model.predict_proba(x_test)

array([[7.04367803e-01, 2.95632197e-01],
       [9.46698999e-01, 5.33010008e-02],
       [7.45837742e-01, 2.54162258e-01],
       [6.53888090e-01, 3.46111910e-01],
       [3.40016747e-01, 6.59983253e-01],
       [9.66113778e-01, 3.38862216e-02],
       [4.34731485e-01, 5.65268515e-01],
       [9.64635321e-01, 3.53646787e-02],
       [2.55304979e-01, 7.44695021e-01],
       [2.40746603e-01, 7.59253397e-01],
       [9.63710054e-01, 3.62899456e-02],
       [2.92684734e-01, 7.07315266e-01],
       [9.66054258e-01, 3.39457422e-02],
       [9.67450580e-01, 3.25494204e-02],
       [9.67998696e-01, 3.20013040e-02],
       [4.43594683e-01, 5.56405317e-01],
       [9.66794602e-01, 3.32053977e-02],
       [4.43539043e-01, 5.56460957e-01],
       [6.93503309e-01, 3.06496691e-01],
       [9.66486430e-01, 3.35135696e-02],
       [9.64918815e-01, 3.50811848e-02],
       [4.28316584e-01, 5.71683416e-01],
       [9.07379496e-01, 9.26205040e-02],
       [9.63361750e-01, 3.66382504e-02],
       [2.34718246e-01, 7.65281754e-01],
       [4.26263616e-01, 5.73736384e-01],
       [6.94818187e-01, 3.05181813e-01],
       [9.66759567e-01, 3.32404332e-02],
       [9.63937728e-01, 3.60622725e-02],
       [7.21124219e-01, 2.78875781e-01],
       [4.05558309e-01, 5.94441691e-01],
       [1.07556646e-02, 9.89244335e-01],
       [9.11612173e-01, 8.83878268e-02],
       [9.55086114e-01, 4.49138855e-02],
       [9.66759567e-01, 3.32404332e-02],
       [4.50676294e-01, 5.49323706e-01],
       [3.69162382e-01, 6.30837618e-01],
       [3.63017201e-38, 1.00000000e+00],
       [3.24134742e-01, 6.75865258e-01],
       [2.72624090e-01, 7.27375910e-01],
       [7.30121061e-01, 2.69878939e-01],
       [9.65505666e-01, 3.44943342e-02],
       [9.67934083e-02, 9.03206592e-01],
       [7.44225251e-01, 2.55774749e-01],
       [9.41878595e-01, 5.81214050e-02],
       [9.67911740e-01, 3.20882603e-02],
       [2.37009430e-06, 9.99997630e-01],
       [9.68198330e-01, 3.18016704e-02],
       [5.21470186e-09, 9.99999995e-01],
       [9.66767668e-01, 3.32323319e-02],
       [9.66827941e-01, 3.31720590e-02],
       [9.66927097e-01, 3.30729033e-02],
       [9.66718131e-01, 3.32818694e-02],
       [4.21961910e-01, 5.78038090e-01],
       [6.91451186e-02, 9.30854881e-01],
       [9.64378992e-01, 3.56210084e-02],
       [9.66767668e-01, 3.32323319e-02],
       [9.66718131e-01, 3.32818694e-02],
       [9.61375233e-01, 3.86247671e-02],
       [2.60931486e-01, 7.39068514e-01],
       [4.18720876e-01, 5.81279124e-01],
       [7.34217915e-01, 2.65782085e-01],
       [2.48653984e-01, 7.51346016e-01],
       [9.31609618e-01, 6.83903823e-02],
       [9.33469137e-02, 9.06653086e-01],
       [2.27613729e-01, 7.72386271e-01],
       [4.41262666e-01, 5.58737334e-01],
       [7.25620202e-01, 2.74379798e-01],
       [3.65087532e-01, 6.34912468e-01],
       [2.64731925e-10, 1.00000000e+00],
       [4.43697358e-01, 5.56302642e-01],
       [1.91505803e-01, 8.08494197e-01],
       [2.33385697e-01, 7.66614303e-01],
       [7.42162415e-01, 2.57837585e-01],
       [9.66751418e-01, 3.32485822e-02],
       [3.32395730e-01, 6.67604270e-01],
       [9.15167717e-01, 8.48322831e-02],
       [7.00501197e-01, 2.99498803e-01],
       [9.67716412e-01, 3.22835880e-02],
       [9.62243849e-01, 3.77561506e-02],
       [9.67993471e-01, 3.20065293e-02],
       [8.75367561e-01, 1.24632439e-01],
       [9.20850471e-01, 7.91495294e-02],
       [9.66767668e-01, 3.32323319e-02],
       [9.16598870e-01, 8.34011297e-02],
       [7.04925033e-01, 2.95074967e-01],
       [4.44224545e-01, 5.55775455e-01],
       [7.36609876e-01, 2.63390124e-01],
       [9.60876158e-01, 3.91238419e-02],
       [4.15422639e-01, 5.84577361e-01],
       [9.95136542e-40, 1.00000000e+00],
       [9.66751418e-01, 3.32485822e-02],
       [9.66235794e-01, 3.37642058e-02],
       [9.66759567e-01, 3.32404332e-02],
       [9.46698592e-01, 5.33014083e-02],
       [9.15012648e-01, 8.49873518e-02],
       [9.19556662e-01, 8.04433383e-02],
       [7.27094790e-05, 9.99927291e-01],
       [9.66718421e-01, 3.32815786e-02],
       [4.41823675e-01, 5.58176325e-01],
       [5.31452955e-01, 4.68547045e-01],
       [4.31765938e-01, 5.68234062e-01],
       [4.45109567e-01, 5.54890433e-01],
       [9.66767668e-01, 3.32323319e-02],
       [9.36326521e-01, 6.36734794e-02],
       [9.57190350e-01, 4.28096501e-02],
       [9.57093112e-01, 4.29068875e-02],
       [9.68146680e-01, 3.18533200e-02],
       [3.93299046e-01, 6.06700954e-01],
       [9.20514954e-01, 7.94850464e-02],
       [5.66504784e-02, 9.43349522e-01],
       [2.32123416e-01, 7.67876584e-01],
       [9.32752863e-01, 6.72471371e-02],
       [4.23033270e-01, 5.76966730e-01],
       [7.25072072e-01, 2.74927928e-01],
       [2.75163043e-02, 9.72483696e-01],
       [2.21259649e-01, 7.78740351e-01],
       [4.68798782e-02, 9.53120122e-01],
       [9.66698226e-01, 3.33017737e-02],
       [1.53151348e-02, 9.84684865e-01],
       [6.20957540e-01, 3.79042460e-01],
       [9.66767668e-01, 3.32323319e-02],
       [9.65567183e-01, 3.44328165e-02],
       [2.20352356e-03, 9.97796476e-01],
       [4.43539043e-01, 5.56460957e-01],
       [9.60454293e-01, 3.95457067e-02],
       [4.10994433e-01, 5.89005567e-01],
       [9.66718421e-01, 3.32815786e-02],
       [9.34411316e-01, 6.55886841e-02],
       [6.80855464e-09, 9.99999993e-01],
       [9.66739465e-01, 3.32605347e-02],
       [4.97031938e-08, 9.99999950e-01],
       [9.65777547e-01, 3.42224527e-02],
       [4.43539043e-01, 5.56460957e-01],
       [4.47434794e-01, 5.52565206e-01],
       [2.43904526e-01, 7.56095474e-01],
       [9.66749973e-01, 3.32500273e-02],
       [9.66868956e-01, 3.31310442e-02],
       [4.29874937e-01, 5.70125063e-01],
       [9.66718131e-01, 3.32818694e-02],
       [2.37685415e-02, 9.76231459e-01],
       [6.78980738e-03, 9.93210193e-01],
       [9.67482100e-01, 3.25178997e-02],
       [8.96273228e-01, 1.03726772e-01],
       [9.61374959e-01, 3.86250410e-02],
       [9.34387887e-01, 6.56121134e-02],
       [2.37668463e-01, 7.62331537e-01],
       [6.32050269e-01, 3.67949731e-01],
       [2.20396543e-01, 7.79603457e-01],
       [4.38627843e-01, 5.61372157e-01],
       [1.77590982e-01, 8.22409018e-01],
       [6.28408711e-01, 3.71591289e-01],
       [4.43539043e-01, 5.56460957e-01],
       [9.64181662e-01, 3.58183380e-02],
       [2.38248680e-02, 9.76175132e-01],
       [9.65439368e-01, 3.45606320e-02],
       [9.22180121e-01, 7.78198794e-02],
       [9.23603053e-01, 7.63969474e-02],
       [4.38245939e-01, 5.61754061e-01],
       [9.66759567e-01, 3.32404332e-02],
       [9.66770800e-01, 3.32291997e-02],
       [3.44776338e-05, 9.99965522e-01],
       [9.60519655e-01, 3.94803449e-02],
       [9.15328005e-01, 8.46719953e-02],
       [4.24599311e-01, 5.75400689e-01],
       [9.66751418e-01, 3.32485822e-02],
       [6.53888090e-01, 3.46111910e-01],
       [9.37777160e-01, 6.22228403e-02],
       [9.62197004e-01, 3.78029959e-02],
       [9.61390717e-01, 3.86092831e-02],
       [4.39964503e-01, 5.60035497e-01],
       [9.67282610e-01, 3.27173900e-02],
       [9.07379496e-01, 9.26205040e-02],
       [9.63825442e-01, 3.61745576e-02],
       [7.16482685e-05, 9.99928352e-01],
       [9.68161063e-01, 3.18389367e-02],
       [4.41823675e-01, 5.58176325e-01],
       [2.34550692e-01, 7.65449308e-01],
       [9.63428839e-01, 3.65711605e-02]])

In [68]:
model.score(x_test,y_test)

0.770949720670391

In [82]:
input = titanic.drop('Survived' , axis = 'columns')
output = titanic['Survived']

In [83]:
input

     Pclass     Sex   Age     Fare
0         3    male  22.0   7.2500
1         1  female  38.0  71.2833
2         3  female  26.0   7.9250
3         1  female  35.0  53.1000
4         3    male  35.0   8.0500
..      ...     ...   ...      ...
886       2    male  27.0  13.0000
887       1  female  19.0  30.0000
888       3  female   NaN  23.4500
889       1    male  26.0  30.0000
890       3    male  32.0   7.7500

[891 rows x 4 columns]

In [84]:
dummies = pd.get_dummies(input.Sex)

In [85]:
dummies

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[891 rows x 2 columns]

In [86]:
input = pd.concat([input,dummies] , axis ='columns')

In [88]:
input.drop('Sex' , axis = 'columns', inplace = True)

In [90]:
input = input.fillna(input.Age.mean())

In [109]:
x_train , x_test , y_train , y_test = train_test_split(input ,output , train_size  =0.8)

In [110]:
model = GaussianNB()
model.fit(x_train,y_train)
model.predict(x_test)

model.score(x_test,y_test)

0.7486033519553073

In [114]:
# spam classifier
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()

In [124]:
spam = pd.read_csv('Downloads/spam.csv')

In [125]:
spam

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [127]:
spam

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [126]:
x_train , x_test , y_train, y_test = train_test_split(spam.Message , spam.spam , train_size = 0.8 )

AttributeError: 'DataFrame' object has no attribute 'spam'

In [128]:
spam

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [131]:
spam['spam'] = spam.Category.apply(lambda x : 1 if x == 'spam' else 0)

In [138]:
spam.groupby('Category').describe()

            spam
           count mean  std  min  25%  50%  75%  max
Category
ham       4825.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
spam       747.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0

In [139]:
spam.drop('Category' , axis = 'columns' , inplace = True)

In [141]:
x_train , x_test , y_train, y_test = train_test_split(spam.Message , spam.spam , train_size = 0.8 )

In [142]:
x_train

3631    Get the official ENGLAND poly ringtone or colo...
2413    I don't know u and u don't know me. Send CHAT ...
4421                      Ok i msg u b4 i leave my house.
104     wow. You're right! I didn't mean to do that. I...
1420    Speak only when you feel your words are better...
                              ...
3194    I will lick up every drop :) are you ready to ...
513                               Lol ok your forgiven :)
3741              No da. . Vijay going to talk in jaya tv
4476                    We will meet soon princess! Ttyl!
1682                                               Y lei?
Name: Message, Length: 4457, dtype: object

In [143]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()

In [146]:
x_train_count = v.fit_transform(x_train.values)

In [152]:
x_train_count.toarray()

(4457, 7720)

In [157]:
x_train_count

<4457x7720 sparse matrix of type '<class 'numpy.int64'>'
	with 59514 stored elements in Compressed Sparse Row format>

In [154]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()

In [158]:
model.fit(x_train_count , y_train)

MultinomialNB()

In [165]:
spam[spam['spam'] == 1]

                                                Message  spam
2     Free entry in 2 a wkly comp to win FA Cup fina...     1
5     FreeMsg Hey there darling it's been 3 week's n...     1
8     WINNER!! As a valued network customer you have...     1
9     Had your mobile 11 months or more? U R entitle...     1
11    SIX chances to win CASH! From 100 to 20,000 po...     1
...                                                 ...   ...
5537  Want explicit SEX in 30 secs? Ring 02073162414...     1
5540  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...     1
5547  Had your contract mobile 11 Mnths? Latest Moto...     1
5566  REMINDER FROM O2: To get 2.50 pounds free call...     1
5567  This is the 2nd time we have tried 2 contact u...     1

[747 rows x 2 columns]

In [162]:
v.transform(['Pls confirm the time to collect the cheque.'])

<1x7720 sparse matrix of type '<class 'numpy.int64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [167]:
model.predict(v.transform(['WINNER!! As a valued network customer you have.',
                          'Pls confirm the time to collect the cheque.']))

array([1, 0], dtype=int64)

In [170]:
model.predict(v.transform(x_test))

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [171]:
model.score(v.transform(x_test) , y_test)

0.9928251121076234

In [1]:
from sklearn.datasets import load_wine

In [2]:
wine = load_wine()

In [3]:
dir(wine)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [4]:
wine.feature_names

['alcohol',
 'malic_acid',
 'ash',
 'alcalinity_of_ash',
 'magnesium',
 'total_phenols',
 'flavanoids',
 'nonflavanoid_phenols',
 'proanthocyanins',
 'color_intensity',
 'hue',
 'od280/od315_of_diluted_wines',
 'proline']

In [179]:
df = pd.DataFrame(wine.data , columns = wine.feature_names)

In [183]:
wine.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2])

In [186]:
df.columns

Index(['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium',
       'total_phenols', 'flavanoids', 'nonflavanoid_phenols',
       'proanthocyanins', 'color_intensity', 'hue',
       'od280/od315_of_diluted_wines', 'proline'],
      dtype='object')

In [187]:
scaler = MinMaxScaler()
scaler.fit(df[['proline']])

df['proline'] = scaler.transform(df[['proline']])

In [190]:
df.columns

Index(['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium',
       'total_phenols', 'flavanoids', 'nonflavanoid_phenols',
       'proanthocyanins', 'color_intensity', 'hue',
       'od280/od315_of_diluted_wines', 'proline'],
      dtype='object')

In [191]:
scaler = MinMaxScaler()
scaler.fit(df[['magnesium']])

df['magnesium'] = scaler.transform(df[['magnesium']])

In [192]:
df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,0.619565,2.80,3.06,0.28,2.29,5.64,1.04,3.92,0.561341
1,13.20,1.78,2.14,11.2,0.326087,2.65,2.76,0.26,1.28,4.38,1.05,3.40,0.550642
2,13.16,2.36,2.67,18.6,0.336957,2.80,3.24,0.30,2.81,5.68,1.03,3.17,0.646933
3,14.37,1.95,2.50,16.8,0.467391,3.85,3.49,0.24,2.18,7.80,0.86,3.45,0.857347
4,13.24,2.59,2.87,21.0,0.521739,2.80,2.69,0.39,1.82,4.32,1.04,2.93,0.325963
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,0.271739,1.68,0.61,0.52,1.06,7.70,0.64,1.74,0.329529
174,13.40,3.91,2.48,23.0,0.347826,1.80,0.75,0.43,1.41,7.30,0.70,1.56,0.336662
175,13.27,4.28,2.26,20.0,0.543478,1.59,0.69,0.43,1.35,10.20,0.59,1.56,0.397290
176,13.17,2.59,2.37,20.0,0.543478,1.65,0.68,0.53,1.46,9.30,0.60,1.62,0.400856
177,14.13,4.10,2.74,24.5,0.282609,2.05,0.76,0.56,1.35,9.20,0.61,1.60,0.201141

In [193]:
x_test , x_test ,y_train , y_test = train_test_split(df , wine.target , train_size = 0.8)

In [194]:
x_test

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
99,12.29,3.17,2.21,18.0,0.195652,2.85,2.99,0.45,2.81,2.30,1.420,2.83,0.091298
96,11.81,2.12,2.74,21.5,0.695652,1.60,0.99,0.14,1.56,2.50,0.950,2.26,0.247504
107,12.72,1.75,2.28,22.5,0.152174,1.38,1.76,0.48,1.63,3.30,0.880,2.42,0.149786
164,13.78,2.76,2.30,22.0,0.217391,1.35,0.68,0.41,1.03,9.58,0.700,1.68,0.240371
54,13.74,1.67,2.25,16.4,0.521739,2.60,2.90,0.21,1.62,5.85,0.920,3.20,0.557775
132,12.81,2.31,2.40,24.0,0.304348,1.15,1.09,0.27,0.83,5.70,0.660,1.36,0.201141
9,13.86,1.35,2.27,16.0,0.304348,2.98,3.15,0.22,1.85,7.22,1.010,3.55,0.547076
161,13.69,3.26,2.54,20.0,0.402174,1.83,0.56,0.50,0.80,5.88,0.960,1.82,0.286733
92,12.69,1.53,2.26,20.7,0.108696,1.38,1.46,0.58,1.62,3.05,0.960,2.06,0.154779
8,14.83,1.64,2.17,14.0,0.293478,2.80,2.98,0.29,1.98,5.20,1.080,2.85,0.547076
126,12.43,1.53,2.29,21.5,0.173913,2.74,3.15,0.39,1.77,3.94,0.690,2.84,0.052782
12,13.75,1.73,2.41,16.0,0.206522,2.60,2.76,0.29,1.81,5.60,1.150,2.90,0.743224
89,12.08,1.33,2.30,23.6,0.000000,2.20,1.59,0.42,1.38,1.74,1.070,3.21,0.247504
4,13.24,2.59,2.87,21.0,0.521739,2.80,2.69,0.39,1.82,4.32,1.040,2.93,0.325963
46,14.38,3.59,2.28,16.0,0.347826,3.25,3.17,0.27,2.19,4.90,1.040,3.44,0.561341
61,12.64,1.36,2.02,16.8,0.326087,2.02,1.41,0.53,0.62,5.75,0.980,1.59,0.122682
52,13.82,1.75,2.42,14.0,0.445652,3.88,3.74,0.32,1.87,7.05,1.010,3.26,0.650499
120,11.45,2.40,2.42,20.0,0.282609,2.90,2.79,0.32,1.83,3.25,0.800,3.39,0.247504
166,13.45,3.70,2.60,23.0,0.445652,1.70,0.92,0.43,1.46,10.68,0.850,1.56,0.297432
148,13.32,3.24,2.38,21.5,0.239130,1.93,0.76,0.45,1.25,8.42,0.550,1.62,0.265335
156,13.84,4.12,2.38,19.5,0.206522,1.80,0.83,0.48,1.56,9.01,0.570,1.64,0.144080
18,14.19,1.59,2.48,16.5,0.413043,3.30,3.93,0.32,1.86,8.70,1.230,2.82,1.000000
75,11.66,1.88,1.92,16.0,0.293478,1.61,1.57,0.34,1.15,3.80,1.230,2.14,0.106990
17,13.83,1.57,2.62,20.0,0.489130,2.95,3.40,0.40,1.72,6.60,1.130,2.57,0.607703
170,12.20,3.03,2.32,19.0,0.282609,1.25,0.49,0.40,0.73,5.50,0.660,1.83,0.165478
134,12.51,1.24,2.25,17.5,0.163043,2.00,0.58,0.60,1.25,5.45,0.750,1.51,0.265335
81,12.72,1.81,2.20,18.8,0.173913,2.20,2.53,0.26,1.77,3.90,1.160,3.14,0.310984
23,12.85,1.60,2.52,17.8,0.271739,2.48,2.37,0.26,1.46,3.93,1.090,3.63,0.525678
84,11.84,0.89,2.58,18.0,0.260870,2.20,2.21,0.22,2.35,3.05,0.790,3.08,0.172611
35,13.48,1.81,2.41,20.5,0.326087,2.70,2.98,0.26,1.86,5.10,1.040,3.47,0.457917
67,12.37,1.17,1.92,19.6,0.086957,2.11,2.00,0.27,1.04,4.68,1.120,3.48,0.165478
70,12.29,1.61,2.21,20.4,0.358696,1.10,1.02,0.37,1.46,3.05,0.906,1.82,0.422254
38,13.07,1.50,2.10,15.5,0.304348,2.40,2.64,0.28,1.37,3.70,1.180,2.69,0.529244
100,12.08,2.08,1.70,17.5,0.293478,2.23,2.17,0.26,1.40,3.30,1.270,2.96,0.308131
122,12.42,4.43,2.73,26.5,0.347826,2.20,2.13,0.43,1.71,2.08,0.920,3.12,0.062054
90,12.08,1.83,2.32,18.5,0.119565,1.60,1.50,0.52,1.64,2.40,1.080,2.27,0.144080

In [195]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()

In [196]:
model.fit(x_train , y_train)
model.predict(x_test)
model.score(x_test, y_test)

ValueError: could not convert string to float: 'Get the official ENGLAND poly ringtone or colour flag on yer mobile for tonights game! Text TONE or FLAG to 84199. Optout txt ENG STOP Box39822 W111WX £1.50'